body {
    width: 100vw;
    height: 100vh;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
}

#container1, #container2 {
    background-color: rgb(71, 37, 5);
    height: 100%;
    width: 100%;
}

#container1 {
    grid-column: 1;
    grid-row: 1;
}

#container2 {
    grid-column: 2;
    grid-row: 2;
}