* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 50px;
    height: 180vh;
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    gap: 50px;
}

#container1,
#container2,
#container3,
#container4,
#container5,
#container6,
#container7,
#container8,
#container9,
#container10,
#container11 {
    background-color: rgb(71, 37, 5);
    height: 100%;
    width: 100%;
}

#container1 {
    grid-column: 1 / span 3;
    grid-row: 1;
}

#container2 {
    grid-column: 4 / span 3;
    grid-row: 1;
}

#container3 {
    grid-row: 2;
    grid-column: 1;
}

#container4 {
    grid-row: 2;
    grid-column: 2;
}

#container5 {
    grid-row: 2 / 4;
    grid-column: 3 / 6;
}

#container6 {
    grid-row: 2;
    grid-column: 6;
}

#container7 {
    grid-row: 3;
    grid-column: 1 / 3;
}

#container8 {
    grid-row: 3;
    grid-column: 6;
}

#container9 {
    grid-row: 4;
    grid-column: 1;
}

#container10 {
    grid-row: 4;
    grid-column: 2;
}

#container11 {
    grid-row: 4;
    grid-column: 3 / 7;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}