* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 50px;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
}

#container1,
#container2,
#container3,
#container4,
#container5,
#container6,
#container7 {
    background-color: rgb(71, 37, 5);
    height: 100%;
    width: 100%;
}

#container1 {
    grid-column: 1 / span 3;
    grid-row: 1;
}

#container2 {
    grid-column: 3 / span 3;
    grid-row: 1;
}

#container3 {
    grid-row: 2;
    grid-column: 1;
}

#container4 {
    grid-row: 2;
    grid-column: 2;
}

#container5 {
    grid-row: 2;
    grid-column: 3;
}

#container6 {
    grid-row: 2;
    grid-column: 4;
}

#container7 {
    grid-row: 2;
    grid-column: 5;
}